html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
	color: white;
	transition: color .3s ease;
}

a:hover {
	color: orange;
}

.navbar {
	width: auto;
	background-color: rgb(28, 155, 234);
	height: 5rem;
	padding: 1.5rem;
	border: 1px solid white;
	border-radius: .5rem;
}

.btnContainer {
	display: flex;
	flex-direction: row;
}

.navbarButtons {
	color: white;
	margin-top: .5rem;
	font-size: 2.5rem;
	margin-right: 4rem;
	border: 2px solid white;
	border-radius: .5rem;
	padding: .3rem;
	transition: color .3s ease;
}

.navbarButtons:hover {
	color: orange;
	border: 2px solid orange;
	background-color: white;
	cursor: pointer;
}